{:deps {org.clojure/clojure {:mvn/version "1.9.0"}
        org.clojure/tools.nrepl {:mvn/version "0.2.12"}
        org.clojure/tools.logging {:mvn/version "0.4.1"}
        cider/cider-nrepl {:mvn/version "0.17.0"}}}
