;; Copy to config.edn and edit where required.

{:discord {:token "INSERT DISCORD BOT TOKEN"
           :poll-ms 1000}
 :watch {:poll-ms 5000}
 :comprehension {:phrase-debounce-ms 800
                 :stream-bytes-cutoff 1000000}}
